<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Shaba - you're a better writer.</title>

  <link href="/assets/favicon.ico?v2" rel="shortcut icon" type="image/x-icon">

  <%= stylesheet 'normalize' %>
  <%= stylesheet 'typography' %>
  <%= stylesheet 'layout' %>
  <%= stylesheet 'navigation' %>
  <%= stylesheet 'memos' %>
  <%= stylesheet 'posts' %>
  <%= stylesheet 'accordion' %>
</head>
<body class="Site">
  <div class="Container">
    <%= render partial: "shared/navigation" %>
    <%= yield %>
  </div>
</body>
</html>
